<%-include ("partials/header")  -%> <!-- updated syntax in ejs v3.0.1 -->

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp!</h1>
            <p>View our hankpicked Campgrounds from all over the world</p>
            <p>
                <a class="btn btn-primary btn-large" href="/campgrounds/new">Add New Campground</a>
            </p>
        </div>
    </header>
    
    <div class="row" style="display:flex; flex-wrap: wrap"> 
       

        <% campgrounds.forEach((campground)=>{ %> 
            <div class="col-sm-6 col-md-3"> 
                <div class="thumbnail">
                    <img src="<%= campground.image %>" style="height:180px;width:100%;display: block" >
                    <div class="caption">
                        <h4><%= campground.name %> </h4>
                    </div>
                </div>
                
            </div>
        <%});  %> 
    </div>
 
</div>

<%-include ("partials/footer") -%> <!-- updated syntax in ejs v3.0.1 -->